<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2>Mi Lista de cursos</h2>

    <table>
        <tr>
            <th>Curso</th>
            <th>Camada</th>
        </tr>
        <tr>
            <td>{{curso1.nombre}}</td>
            <td>{{curso1.camada}}</td>
        </tr>
        <tr>
            <td>{{curso2.nombre}}</td>
            <td>{{curso2.camada}}</td>
        </tr>
    </table>

</body>

</html>