<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <h2>Mi Lista de Estudiantes</h2>

    <table>
        <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
        </tr>
        <tr>
            <td>{{estu1.nombre}}</td>
            <td>{{estu1.apellido}}</td>
            <td>{{estu1.email}}</td>
        </tr>
        <tr>
            <td>{{estu2.nombre}}</td>
            <td>{{estu2.apellido}}</td>
            <td>{{estu2.email}}</td>
        </tr>
    </table>

</body>

</html>